* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}
/*CABESERAAAAAAAAA************************************************/
.container-top {
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header-left .redes {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.redes li {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 1.5rem;
}

.header-left .redes a {
    text-decoration: none;
    color: white;
 
}

.header-left, .redes a:hover {
    color: #338ccc;
}

/******************CABECERA DERECHAaaaaaaa**************************************************************/
.header-right .redes {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.header-right .redes a {
    display: inline-block;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.header-right a i {
    font-size: 1em;
    margin: 0.5rem 0.2rem;
    color: #fdf7f7;
    transition: transform 0.3s ease;
}


.header-right .redes a i:hover {
    color: rgb(127, 206, 245);
    transform: scale(1.5);
}


/*NABVAR NUEVOOOOOOOOOOOOOOO***********************************/
.navbar {
    background-color: #333;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.logo div {
    display: flex;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    gap: 1rem;
}
.logo h2 {
    font: 900 3rem italic;
    padding-top: 1.8rem;
    color: white;
}
.nav-links {
    width: 102rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: rgba(18, 183, 212, 0.911);
}
.dropdown {
    float: left;
    overflow: hidden;
}
/*IMPRESORA*/
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 29px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f99a;
    /*PARA PONERLE UN BORDE AL MENU DESPLEGADO*/
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: row;
    left: 5%;
    top: 12.4rem;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
}

.dropdown-content .contenedor {
    /* float: none; */
    /*LETRAS DEL OPCIONES DEL MENU DESPLEGADO*/
    color: black;
    padding: 12px 0;
    font: 600 2rem roboto;
    /* Reducir el relleno vertical */
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 33.33%;
    /* Dividir en 3 partes iguales */
    box-sizing: border-box;
    /* Incluir padding en el ancho */
    height: 215px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33.33%;
    box-sizing: border-box;
}


.dropdown-content .contenedor img {
    max-width: 100%;
    height: 150px;
}

.dropdown-content .contenedor h2 {
    font-size: 1.5rem;
}

.dropdown-content a:hover {
    color: rgba(18, 183, 212, 0.911);
    background-color: rgba(231, 231, 231, 0.815);
}
/*******************************************************************************************************************/
/* Centrar y separar el contenido de la barra de navegación */
/* Estilos para modo *************************************** */
.app {
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-image: linear-gradient(#444444, #bfbec2);
}

.app:hover {
    transform: scale(1.2);
}
/*sliderrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
.slider {
    width: 100%;
    max-width: 100vw;
    height: 580px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    /*transition: 1s;*/
}

.slider .list img {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    /*transition: all .5s;*/
}

.slider .buttons button:hover {
    background-color: #595858;
    /*transition: all .5s;*/
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    /*transition: 0.5s;*/
}

.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}




/***********************************************************************************************/
.footer-redes {
    background-color: rgb(39, 109, 155);
    width: 100%;
    height: 200px;
    padding: 5rem;
}

.footer-redes h3 {
    text-align: center;
    font-size: 4rem;
    color: white;

}

.link-redes {
    display: flex;
    justify-content: center;
    color: white;
    /* padding: 5rem; */
}

.link-redes a i {
    font-size: 3em;
    margin: 1rem;
    color: #fdf7f7;
}

.link-redes a {
    display: inline-block;
    min-height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 30%;
    color: #fdf7f7;
    transition: all .5s ease;
}

.link-redes a:hover {
    background-color: #81a8b5;
}


/*****************************************************************************************/
.footer {
    background-color: #3e4346;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    height: 420px;
}

.container {
    width: 100%;
    margin-top: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: calc(25% - 20px);
    padding: 14px;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-about div {
    display: flex;
    align-items: center;
    margin: -1.5rem 0 3.6rem 1rem;
    padding-left: 1rem;
}

.footer-about div h4 {
    color: aliceblue;
    font-size: 2rem;
    padding: 1.8rem 0 0 0.5rem;
}

.footer-about img {
    width: 20%;
}

.footer-links,
.btn-toolbar {
    width: 100%;
    margin-bottom: 3rem;
}

.footer-links li {
    list-style: none;
}

.footer-links h3 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 3px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links .navegetor {
    padding-left: 5rem;
}

.footer-links ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    text-align: left;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #00C3FF;
    transform: scale(1.1);

}

/* Aumenta el tamaño de los inputs y textarea */
.footer-links input[type="text"],
.footer-links input[type="email"],
.footer-links input[type="phone"],
.footer-links textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.900px solid rgba(243, 238, 238, 0.2);
    background-color: #3a3c3d;
    box-sizing: border-box;
    cursor: pointer;
}

.footer-links textarea {
    height: 6rem;
}

/* Asegúrate de que el botón también tenga suficiente espacio */
.btn-toolbar button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 10px;
    background: rgb(55, 148, 205);
    border-width: 1px;
    border: 0.800px solid rgba(65, 65, 65, 0.2);
    cursor: pointer;
    transition: 0.3s, color 0.3s;
}

.btn-toolbar button:hover {
    background-color: rgb(28, 28, 33);
    color: #00aaff;
}

.derechos {
    background-color: #5ab0ed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    height: 5rem;
    text-align: center;
    font: 800 2.5rem Cambria, Cochin;
    padding: 1rem;
}

/*redes de la izquierda de main***********************************************************************/
.elements-lists {
    position: fixed;
    top: 45rem;
}

.elements-social-icon {
    position: relative;
    display: inline-block;
    padding: 0 0.5rem 0 0;
    line-height: 45px;
    width: 40px;
    font-size: 3.5rem;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    overflow: visible;
    transition: all 0.5s ease;
}

.elements-social-icon a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    display: block;
    z-index: 1;
}

.elements-social-icon .button-text {
    font-size: 2rem;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: -200px;
    width: 150px;
    height: 100%;
    background-color: rgb(46, 184, 117);
    color: #fff;
    text-align: center;
    transition: left 1s ease;
    z-index: -1;
}

.elements-social-icon .button-text2,
.elements-social-icon .button-text3 {
    background-color: rgb(49, 154, 196);
}

.elements-social-icon .button-text3 {
    background-color: rgb(208, 81, 67);
}

.elements-social-icon:hover .button-text {
    left: 0;
}

/*BUSCAR POR CATEGORIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/*****************************************************************/

/*CATEGORIAS CSS */
.categorias {
    padding: 35px 70px;
    background: rgb(28, 28, 33);
    width: 100%;
    text-align: center;
}

.categorias h3 {
    color: white;
    font-size: 2.5rem;
}

.categorias .ver-todos {
    padding: 6px 30px;
    font-size: 20px;
    background: linear-gradient(rgb(46, 138, 184) 0%, rgb(67, 152, 208) 100%) rgb(46, 138, 184);
    display: inline-block;
    border-right: 1px solid rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    margin: 40px;
    transition: 0.3s color rgb(77, 77, 77);
}

.categorias .ver-todos:hover {
    color: rgb(28, 28, 33);
    background: linear-gradient(to right, #5ab0ed, #a3d8e9);
    transform: scale(1.1);
}

.contenedor-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartas {
    width: 28%;
    margin: 1.5rem 1rem;
}


.nombre {
    margin-top: 1rem;
}

.cartas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    background-color: #7d7b7b;
    object-fit: contain;
}

.cartas a {
    text-decoration: none;
    font: 100 1.6rem rocoto;
    color: white;
    transition: 0.3s;
}

.cartas a:hover {
    color: #00C3FF;
}

/* ******GALERIA DE VIDEOS************************************************************ */
.home-gallery {
    background: rgb(147, 146, 146);
    width: 100%;
    height: 750px;
    color: white;
    text-align: center;
    padding: 4rem 7rem;
}

.home-gallery h3 {
    font: 800 5.5rem Medium;
}

.home-gallery button {
    margin-top: 3rem;
    border: none;
    font-size: 1.8rem;
    line-height: 25px;
    color: rgb(255, 255, 255);
    padding: 5px 30px;
    background: rgb(80, 159, 211)
}

.home-gallery button:hover {
    background-color: #333;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Ajusta la duración de la transición */
}

.swiper-slide {
    flex: 0 0 calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.swiper-slide, .nombre-impre{
    margin-top: 2rem;
    font-size: 3rem;
}

.swiper-slide iframe,
.swiper-slide video {
    max-width: 100%;
    max-height: 100%;
}
/***************SOBRE NOSOTROS**************************************************************/
/***************SOBRE NOSOTROS**************************HISTORY ABREGU*************************************************/
.swiper-video-nosotros {
    position: relative;
}

.swiper-video {
    position: relative;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}

.video-overlay h1 {
    margin-bottom: 10px;
}

.container-historia {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex-start;*/
    /* Alinea el contenido a la izquierda */
    padding: 8rem;
    /* Agrega espacio en la parte superior e inferior */
    text-align: center;
    margin-top: 8rem;
}

.container-historia .history {
    font-size: 6rem;
    margin-bottom: 2rem;
    /* Espacio entre el título y el párrafo */
}

.container-historio,
.parrafo {
    margin-bottom: 4rem;
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.5;
    /* Ajustar espacio entre las líneas del párrafo */
}

.conta-equipo {
    text-align: center;
    /* Centrar el contenido horizontalmente */
}

.equipo-img {
    height: 260px;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5rem;
}

.equipo-img img {
    border-radius: 5%;
    /* max-width: 100%;*/
    /* Asegurarse de que las imágenes no sean más anchas que su contenedor */
}

.ctn-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.linea {
    position: absolute;
    width: 90%;
    top: 35%;
    /*Coloca la línea en el centro vertical */
    transform: translateY(-50%);
    /* Alinea verticalmente la línea */
    height: 2px;
    /* Altura de la línea */
    background-color: #000;
    /* Color de la línea */
    z-index: -1;
}

.simbolos {
    text-align: center;
}

.simbolos img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.simbolos img:nth-child(4) {
    object-fit: contain;
}

.texto-name {
    font: 600 2rem Arial;
    margin-bottom: 5rem;
    /* Espacio entre la imagen y el texto */
}










/****************CONTACTANOSSSS **************************************/
.container_form {
    background-image: url("./imagenes/contac-abregu.jpg");
    height: 900px;
    display: flex;
    align-items: center;
}

.formulary {
    background-color: rgba(0, 0, 0, 0.6);
    width: 680px;
    height: 680px;
    padding: 20px;
    margin-left: 100rem;
}

.formulary .message-text,
.message {
    text-align: center;
    font-size: 24px;
    margin: 3.5rem;
    color: white;
}

.formulary input[type="text"],
.formulary input[type="email"],
.formulary input[type="tel"],
.formulary textarea,
.formulary input[type="text"],
.formulary input[type="hidden"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(243, 238, 238, 0.2);
    background-color: #3a3c3d;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    gap: 5rem;
    display: block;
}

input::placeholder,
textarea::placeholder {
    color: white;
    font-size: 1.5rem;
}

.btn-form button {
    width: 100%;
    height: 5rem;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #3a3c3d;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 10px;
    background: rgb(55, 148, 205);
    border-width: 1px;
    border: 0.800px solid rgba(65, 65, 65, 0.2);
    cursor: pointer;
    transition: 0.3s, color 0.3s;
}

.btn-form button:hover {
    background-color: rgb(28, 28, 33);
    color: #00aaff;
}

.contacte {
    color: white;
    height: 100px;
    width: 100%;
    padding: 8rem;
    text-align: center;
    font: 700 4rem monospace;
}

.contact-servise {
    background-color: rgb(38, 38, 38);
    height: 138rem;
}

.electrony-grid {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.phone-card {
    background-color: rgb(28, 28, 33);
    color: blanchedalmond;
    width: 550px;
    height: 40rem;
    transition: 0.3s, color 0.3s; /* Transición suave para el hover */
}

.phone-card:hover {
    background-color: #0e37f7; 
    color: #ffffff; 
}

.phone-card i {
    margin-top: 8rem;
    font-size: 45px;
    background-color: #0e37f7;
    border-radius: 50%;
    padding: 15px;
}

.phone-card a, .phone-card span {
    font-size: 3rem;
    font-weight: 600;
    color: #00b5ff;
    text-decoration: none;
}

.phone-card a:hover, .phone-card span:hover {
    color: #ffffff;
}

.phone-card span {
    font-size: 1.5rem;
}
/*********************************************************/
.red-social {
    display: flex;
    justify-content: center;
}

.servis {
    margin-top: 5rem;
    text-align: center;
    font: 800 5rem monospace;
    color: white;
}

.servis-tecnico {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.servis-red {
    background-color: rgb(28, 28, 33);
    height: 320px;
    width: 350px;
    margin: 1rem;
    text-align: center;
    transition: 0.3s, color 0.3s;
}

.servis-red:hover {
    background-color: #0e37f7; 
    color: #ffffff;
}

.servis-tecnico i,
.red-social a,
.servis-tecnico a {
    font-size: 2rem;
    text-decoration: none;
    color: #00b5ff;
}

.servis-tecnico i {
    margin-top: 8rem;
    font-size: 45px;
    background-color: #dbe5e8;
    border-radius: 50%;
    padding: 15px;
}

.servis-tecnico i:hover, .servis-tecnico a:hover {
    color: #ffffff;
}
/*************MAPAAAAAAAAAAAAAAAAAAAAAAAAAAA*******************************/
.map{
  
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 350px;
}

.map a {
    text-decoration: none;
    font-size: 3.5rem;
}

/****IMAGENES PRINCIPALESF************** solo agregar .index__contain a las cards ejemplo */
.index__contain{
    background-color: #000000;
}

.index__contain #impDTF-machine {
    display: flex;
    flex-direction: column; 
}

.index__contain .card-content-machine {
    display: flex;
    justify-content: center;
    height: 50rem;
    margin-top: 1.5rem;
}

.index__contain .card-content-machine:nth-child(odd) .card-content-text {
    order: 2; /* Cambia el orden del elemento .card-content-text en divs impares */
}

.index__contain .card-content-machine:nth-child(odd) .card-content-img {
    order: 1; /* Cambia el orden del elemento .card-content-img en divs impares */
}

.index__contain .card-content-img {
    background-color: white;
    align-items: centen;
    background-color: #fdfdfd;
    width: 50%;
    position: relative;
}

.index__contain .card-content-img img {
    width: 60rem;
    position: absolute;
    left: calc(50% - 400px/2);

}

.index__contain .card-content-machine:nth-child(2n) .card-content-img img,
.index__contain .card-content-machine:nth-child(4n) .card-content-img img {
    height: 100%;
    width: 60rem;
    position: absolute;
    left: calc(50% - 790px/2);
}

.index__contain .card-content-machine:nth-child(2n-1) .card-content-text {
    padding-right: 37rem;
}

.index__contain .card-content-machine:nth-child(2n-1) .card-content-text button{
    margin: 2rem 0 0 17rem;
}

.index__contain .card-content-text {
    padding: 10rem 10% 0 15%;
    background-color: rgb(255, 255, 255);
    width: 50%;
    text-align: center;
}

.index__contain .card-content-text:nth-child(2),
.index__contain .card-content-text:nth-child(4) { 
  order: -1;
} 

.index__contain .card-content-text h2 {
    width: 48rem;
    text-align: center;
    font: 800 2.5rem Bold;
    line-height: 5rem;
    text-align: center;
    color: rgb(191, 191, 191);
    cursor: pointer;
    transition: all 800ms ease 0s
}

.index__contain .card-content-text h2:hover {
    color: rgb(39, 109, 155);
}

.index__contain .card-content-text p {
    width: 50rem;
    text-align: center;
    color: rgb(191, 191, 191);
    font: 800 5rem Arial;
    cursor: pointer;
    transition: all 800ms ease 0s
}

.index__contain .card-content-text p:hover {
    color: rgb(39, 109, 155);
}

.index__contain .card-content-text h3 {
    text-align: center;
    width: 50rem;
    margin-top: 2rem;
    font: 700 2.3rem Medium;
    color: rgb(191, 191, 191);
    cursor: pointer;
    transition: all 800ms ease 0s
}

.index__contain .card-content-text h3:hover {
    color: rgb(39, 109, 155);
}

.index__contain .card-content-text button {
    width: 18rem;
    height: 4rem;
    color: #b0afaf;
    font: 100 3rem Medium;
    margin:2rem auto;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 800ms ease 0s
}

.index__contain .card-content-text button:hover {
    background: rgb(39, 109, 155);
    color: rgb(255, 255, 255);

}














/*.ver-btn{
    width: 150px;
    color: #b0afaf;
    font:100 3rem SFCompactDisplay-Medium;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.ver-btn:hover{
    background: rgb(39, 109, 155);
    color: rgb(255, 255, 255);
}
*/




























/********************PAGINA MAQUINAS*********************/

.banner {
    width: 100%;
    height: 85rem;
    background-image: url("https://w0.peakpx.com/wallpaper/659/819/HD-wallpaper-the-machinary-machinary-anime-yellow-manga-man-kaitan.jpg");
}

.banner #titulo-banner {
    color: aqua;
    font: 500 10.8rem STATUS-BAR;
    padding-top: 9rem;
    text-align: center;
}

.container-principal {
    display: flex;
    justify-content: center;
    background-color: #7d7b7b;
    padding: 0;
    height: 6rem;
}

.container-principal li {
    width: 30rem;
    font-size: 1.6rem;
    padding: 2rem;
    text-align: center;
    list-style: none;
    border-bottom: 3px solid rgb(52, 156, 225);
    border-left: 2px solid white;
    cursor: pointer;
}

.container-principal li:hover{
    background-color: rgb(104, 186, 241);
}

.container-principal li a {
    color: white;
    text-decoration: none;
}

.maqui__contain .card-content-machine {
    display: flex;
    justify-content: center;
}

.maqui__contain .card-content-img {
    width: 30%;
}

.maqui__contain .card-content-img img {
    width: 100%;
}

.maqui__contain .card-content-text {
    padding: 4rem 0 0 2rem;
}

.maqui__contain .card-content-text h2 {
    font: 600 2.4rem status-bar;
}

.maqui__contain .card-content-text p {
    margin-top: 2rem;
    font: 400 2rem roboto;
}

