/*.insumos-img img {
    width: 100%;
    height: 55rem;
}
.insumo-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: 600 3rem Arial;
    text-align: center;
    z-index: 1;
}
*/

.insumo-category .subtitle{
    height: 5rem;
    font: 800 4rem bold;
    text-align: center;
    margin: 1%;
}

.cad__img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.cad__img img {
    width: 100%;
    height: 65rem;
}
/***************************************************************/
.insumo_imgPortada{
    width: 100%;
    margin: 0;
    padding: 0;
}

.insumo_imgPortada img{
    width: 100%;
    height: 60rem;
}
/*esto es la imagen de los productos q se cambian*/
.seccion-insumos {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulconta-principal {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 4rem;
}

.ulconta-principal li {
    background-color: #494848;
    width: auto;
    padding: 0 2rem;
    box-shadow: 5px 5px 6px 6px #a4a3a3;
}

.ulconta-principal li a {
    font: 800 2.5rem bold;
    text-align: center;
    text-decoration: none;
    color: white;
}

.ulconta-principal li:hover {
    background-color: rgb(69, 175, 246);
}


/*estos son para las fotos de los insumos*/
.renderInsumos {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    cursor: pointer;
    height: 40rem;
}

.renderInsumos .insumo{
    width: 25rem;
    height: 25rem;
    overflow: hidden;
}

.renderInsumos .insumo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 10%;
    cursor: pointer;
}

.renderInsumos h2 {
    font-size: 2rem;
   color: black;
}

@media screen and (max-width: 1100px){
    .seccion-insumos {
        height: 7rem;
    }
    
    .ulconta-principal {
        gap: 1rem;
    }
    
    .ulconta-principal li {
        padding: 0 1rem;
        box-shadow: 5px 5px 6px 6px #a4a3a3;
    }
    
    .ulconta-principal li a {
        font: 400 1.7rem bold;
    }
    .renderInsumos {
        display: flex;
        flex-direction: row;
        height: 50rem;
    }

    .renderInsumos .insumo{
        width: 20rem;
        height: 20rem;
        overflow: hidden;
    }

    .renderInsumos .insumo img{
        margin: 10%;
    }
    
    .renderInsumos h2 {
        margin:1.5rem 3rem;
        font-size: 1.8rem;
    }
    
}

@media screen and (max-width: 768px){
    .seccion-insumos {
        height: 5rem;
    }
    
    .ulconta-principal {
        gap: 1.5rem;
    }
    
    .ulconta-principal li {
        padding: 0 1rem;
        box-shadow: 5px 5px 6px 6px #a4a3a3;
    }
    
    .ulconta-principal li a {
        font: 400 1.7rem bold;
    }
    .renderInsumos {
        display: flex;
        flex-direction: row;
        height: 50rem;
    }

    .renderInsumos .insumo{
        width: 18rem;
        height: 18rem;
        overflow: hidden;
    }

    .renderInsumos .insumo img{
        margin: 5%;
    }
    
    .renderInsumos h2 {
        margin:1.5rem 3rem;
        font-size: 1.8rem;
    }
    
}

@media screen and (max-width: 480px){
    .insumo-category .subtitle{
        height: 2rem;
        font: 800 2rem bold;
        margin: 2%;
    }

    .ulconta-principal li {
        background-color: #494848;
        width: 10rem;
    }
    .ulconta-principal li a {
        font: 600 1.1rem bold;
    }
    .renderInsumos {
        height: 95rem;
    }
}
